<nav class="navbar navbar-expan-lg navbar-light bg-light">
    <a class="navbar-brand">Angular 11 MEAN CRUD</a>
    <div class="contener">
        
        <div id="navbarNav" class="collapse navbar-collapse">
            <ul class="bavbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/books-list">Show Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/add-book">Add Books</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
